services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sports-shop-server
    restart: always
    ports:
      - '4000:4000'
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
      - minio
    networks:
      - sports-shop-network

  mongo:
    image: mongo:7
    container_name: sports-shop-mongo
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    networks:
      - sports-shop-network

  redis:
    image: redis:alpine
    container_name: sports-shop-redis
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - sports-shop-network

  minio:
    image: minio/minio
    container_name: sports-shop-minio
    restart: always
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - sports-shop-network

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc alias set myminio http://minio:9000 $${MINIO_ROOT_USER} $${MINIO_ROOT_PASSWORD};
      /usr/bin/mc mb myminio/sports-shop --ignore-existing;
      exit 0;
      "
    networks:
      - sports-shop-network

volumes:
  mongo_data:
  redis_data:
  minio_data:

networks:
  sports-shop-network:
    driver: bridge
